apiVersion: apps/v1
kind: Deployment
metadata:
  name: eminsights-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: brijeshkori/eminsights_backend:2
        ports:
        - containerPort: 5050
        env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: MONGODB_URI
